@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Stack+Sans+Text:wght@200..700&display=swap");

.stack-sans-text-stack {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.geist-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg-clr: #ffff;
  --pri-clr: #031324;
  --brand-clr: #3b70df;
  --brand-dark: #081736;
  --paragraph-clr: #838f9b;
  --max-width: 1232px;
  --ff-headings: "Geist", sans-serif;
  --ff-normal: "Stack Sans Text", sans-serif;
  --ff-code: "Roboto Mono", monospace;
}

:root {
  --fs-p: clamp(1rem, 0.9135rem + 0.3846vw, 1.25rem);
  --fs-h5: clamp(1.2rem, 1.0745rem + 0.5577vw, 1.5625rem);
  --fs-h4: clamp(1.44rem, 1.2624rem + 0.7894vw, 1.9531rem);
  --fs-h3: clamp(2.228rem, 2.4811rem + 2.0975vw, 2.8414rem);
  --fs-h2: clamp(2.7736rem, 2.535rem + 3.5049vw, 3.2518rem);
  --fs-h1: 64px;
}

@media (max-width: 768px) {
  :root {
    --fs-h5: clamp(0.9rem, 0.85rem + 0.4vw, 1.1rem);
    --fs-h4: clamp(1rem, 0.95rem + 0.6vw, 1.3rem);
    --fs-h3: clamp(1.25rem, 1.1rem + 1vw, 1.6rem);
    --fs-h2: clamp(1.6rem, 1.4rem + 1.5vw, 2rem);
    --fs-h1: clamp(1.8rem, 1.6rem + 2vw, 2.4rem);
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-headings);
  line-height: 1.2;
  text-wrap: balance;
  font-weight: 700;
}

h1 {
  font-size: var(--fs-h1);

  font-weight: 500;
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h4);
}

h4 {
}
p {
  color: var(--paragraph-clr);
  font-size: var(--fs-p);
  line-height: 1.5;
  text-wrap: pretty;
  font-weight: 200;
}

.eyebrow {
  font-family: var(--ff-code);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #2c3847;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;

  font-size: 16px;
  font-family: var(--ff-normal);
  color: var(--pri-clr);
  background: var(--bg-clr);
  font-weight: 300;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

::selection {
  color: var(--accent-clr);
  background: var(--pri-clr);
}
::-moz-selection {
  color: var(--accent-clr);
  background: var(--pri-clr);
}

img,
svg {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.container_large {
  max-width: var(--max-width);
  margin-inline: auto;
}

.padding_global {
  padding-inline: 2rem;
  padding-block: 6rem;
  margin-inline: auto;
}

@media (max-width: 900px) {
  .padding_global {
    padding-inline: 1em;
    padding-block: 4em;
  }
}

.hero-text {
  text-align: center;
  max-width: 900px;

  margin-inline: auto;
}
.testimonials-hero {
  text-align: center;
  max-width: 150px;
  margin-inline: auto;
  margin-top: 20px;
}

.hero-text h1 {
  margin-top: 40px;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 20px;
  text-wrap: pretty;
}

.btn-wrapper {
  margin-block: 40px;
}
.primary-btn {
  background: #3b70df;
  color: white;
  font-family: var(--ff-headings);
  padding: 16px 24px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.primary-btn svg {
  width: 14px;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  background: var(--brand-dark);
  color: white;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover svg {
  transform: translateX(4px);
}

.hero-section {
  background-image: <svg width= "100%" height= "534" viewBox= "0 0 1149 534"
    fill= "none" xmlns= "http://www.w3.org/2000/svg" > <path d=
    "M17.853 -19L17.853 36.3M17.853 36.3L17.853 94.7993M17.853 36.3H0M17.853 36.3L76.4475 36.3M17.853 94.7993L17.853 153.298M17.853 94.7993H0M17.853 94.7993L76.4475 94.7993M17.853 153.298L17.853 211.798M17.853 153.298H0M17.853 153.298H76.4475M17.853 211.798L17.853 270.297M17.853 211.798H0M17.853 211.798H76.4475M17.853 270.297L17.853 328.796M17.853 270.297H0M17.853 270.297H76.4475M17.853 328.796L17.853 387.295M17.853 328.796H0M17.853 328.796H76.4475M17.853 387.295L17.853 445.795M17.853 387.295H0M17.853 387.295H76.4475M17.853 445.795L17.853 504.294M17.853 445.795H0M17.853 445.795H76.4474M17.853 504.294L17.853 534M17.853 504.294H0M17.853 504.294H76.4474M76.4475 -19V36.3M76.4475 36.3L76.4475 94.7993M76.4475 36.3L135.042 36.3M76.4475 94.7993V153.298M76.4475 94.7993L135.042 94.7992M76.4475 153.298V211.798M76.4475 153.298L135.042 153.298M76.4475 211.798L76.4475 270.297M76.4475 211.798L135.042 211.798M76.4475 270.297V328.796M76.4475 270.297H135.042M76.4475 328.796V387.295M76.4475 328.796H135.042M76.4475 387.295L76.4474 445.795M76.4475 387.295H135.042M76.4474 445.795V504.294M76.4474 445.795H135.042M76.4474 504.294V534M76.4474 504.294H135.042M135.042 -19V36.3M135.042 36.3V94.7992M135.042 36.3L193.636 36.3M135.042 94.7992L135.042 153.298M135.042 94.7992H193.636M135.042 153.298V211.798M135.042 153.298H193.636M135.042 211.798V270.297M135.042 211.798H193.636M135.042 270.297V328.796M135.042 270.297L193.636 270.297M135.042 328.796V387.295M135.042 328.796L193.636 328.796M135.042 387.295L135.042 445.795M135.042 387.295L193.636 387.295M135.042 445.795V504.294M135.042 445.795L193.636 445.795M135.042 504.294V534M135.042 504.294H193.636M193.636 -19V36.3M193.636 36.3V94.7992M193.636 36.3L252.231 36.3M193.636 94.7992L193.636 153.298M193.636 94.7992L252.231 94.7992M193.636 153.298V211.798M193.636 153.298L252.231 153.298M193.636 211.798V270.297M193.636 211.798L252.231 211.798M193.636 270.297V328.796M193.636 270.297H252.231M193.636 328.796V387.295M193.636 328.796H252.231M193.636 387.295L193.636 445.795M193.636 387.295H252.231M193.636 445.795V504.294M193.636 445.795H252.231M193.636 504.294V534M193.636 504.294H252.231M252.231 -19V36.3M252.231 36.3V94.7992M252.231 36.3L310.825 36.3M252.231 94.7992V153.298M252.231 94.7992L310.825 94.7992M252.231 153.298V211.798M252.231 153.298H310.825M252.231 211.798L252.231 270.297M252.231 211.798H310.825M252.231 270.297V328.796M252.231 270.297H310.825M252.231 328.796V387.295M252.231 328.796H310.825M252.231 387.295V445.795M252.231 387.295H310.825M252.231 445.795V504.294M252.231 445.795H310.825M252.231 504.294V534M252.231 504.294L310.825 504.294M310.825 -19V36.3M310.825 36.3V94.7992M310.825 36.3L369.42 36.3M310.825 94.7992V153.298M310.825 94.7992L369.42 94.7992M310.825 153.298V211.798M310.825 153.298H369.42M310.825 211.798L310.825 270.297M310.825 211.798H369.42M310.825 270.297V328.796M310.825 270.297H369.42M310.825 328.796V387.295M310.825 328.796H369.42M310.825 387.295V445.795M310.825 387.295H369.42M310.825 445.795V504.294M310.825 445.795H369.42M310.825 504.294V534M310.825 504.294H369.42M369.42 -19V36.3M369.42 36.3V94.7992M369.42 36.3L428.014 36.3M369.42 94.7992V153.298M369.42 94.7992H428.014M369.42 153.298V211.798M369.42 153.298L428.014 153.298M369.42 211.798L369.42 270.297M369.42 211.798L428.014 211.798M369.42 270.297V328.796M369.42 270.297H428.014M369.42 328.796V387.295M369.42 328.796H428.014M369.42 387.295V445.795M369.42 387.295H428.014M369.42 445.795V504.294M369.42 445.795H428.014M369.42 504.294V534M369.42 504.294H428.014M428.014 -19V36.3M428.014 36.3V94.7992M428.014 36.3L486.608 36.3M428.014 94.7992V153.298M428.014 94.7992L486.608 94.7992M428.014 153.298V211.798M428.014 153.298H486.608M428.014 211.798L428.014 270.297M428.014 211.798H486.608M428.014 270.297V328.796M428.014 270.297H486.608M428.014 328.796V387.295M428.014 328.796H486.608M428.014 387.295V445.795M428.014 387.295H486.608M428.014 445.795V504.294M428.014 445.795H486.608M428.014 504.294V534M428.014 504.294H486.608M486.608 -19V36.3M486.608 36.3V94.7992M486.608 36.3L545.203 36.3M486.608 94.7992V153.298M486.608 94.7992L545.203 94.7992M486.608 153.298V211.798M486.608 153.298H545.203M486.608 211.798V270.297M486.608 211.798H545.203M486.608 270.297V328.796M486.608 270.297H545.203M486.608 328.796V387.295M486.608 328.796H545.203M486.608 387.295V445.795M486.608 387.295H545.203M486.608 445.795V504.294M486.608 445.795H545.203M486.608 504.294V534M486.608 504.294H545.203M545.203 -19V36.3M545.203 36.3V94.7992M545.203 36.3L603.797 36.3M545.203 94.7992V153.298M545.203 94.7992H603.797M545.203 153.298V211.798M545.203 153.298L603.797 153.298M545.203 211.798V270.297M545.203 211.798L603.797 211.798M545.203 270.297V328.796M545.203 270.297L603.797 270.297M545.203 328.796V387.295M545.203 328.796L603.797 328.796M545.203 387.295V445.795M545.203 387.295L603.797 387.295M545.203 445.795V504.294M545.203 445.795L603.797 445.795M545.203 504.294V534M545.203 504.294H603.797M603.797 -19V36.3M603.797 36.3V94.7992M603.797 36.3L662.392 36.3M603.797 94.7992V153.298M603.797 94.7992L662.392 94.7992M603.797 153.298V211.798M603.797 153.298H662.392M603.797 211.798V270.297M603.797 211.798H662.392M603.797 270.297V328.796M603.797 270.297H662.392M603.797 328.796V387.295M603.797 328.796H662.392M603.797 387.295V445.795M603.797 387.295H662.392M603.797 445.795V504.294M603.797 445.795H662.392M603.797 504.294V534M603.797 504.294H662.392M662.392 -19V36.3M662.392 36.3V94.7992M662.392 36.3L720.986 36.3M662.392 94.7992V153.298M662.392 94.7992L720.986 94.7992M662.392 153.298V211.798M662.392 153.298H720.986M662.392 211.798V270.297M662.392 211.798H720.986M662.392 270.297V328.796M662.392 270.297H720.986M662.392 328.796V387.295M662.392 328.796H720.986M662.392 387.295V445.795M662.392 387.295H720.986M662.392 445.795V504.294M662.392 445.795H720.986M662.392 504.294V534M662.392 504.294H720.986M720.986 -19V36.3M720.986 36.3V94.7992M720.986 36.3L779.581 36.3M720.986 94.7992V153.298M720.986 94.7992H779.581M720.986 153.298V211.798M720.986 153.298L779.581 153.298M720.986 211.798V270.297M720.986 211.798L779.581 211.798M720.986 270.297V328.796M720.986 270.297H779.581M720.986 328.796V387.295M720.986 328.796H779.581M720.986 387.295V445.795M720.986 387.295H779.581M720.986 445.795V504.294M720.986 445.795H779.581M720.986 504.294V534M720.986 504.294H779.581M779.581 -19V36.3M779.581 36.3V94.7992M779.581 36.3L838.175 36.3M779.581 94.7992V153.298M779.581 94.7992L838.175 94.7992M779.581 153.298V211.798M779.581 153.298H838.175M779.581 211.798V270.297M779.581 211.798H838.175M779.581 270.297V328.796M779.581 270.297H838.175M779.581 328.796V387.295M779.581 328.796H838.175M779.581 387.295V445.795M779.581 387.295H838.175M779.581 445.795V504.294M779.581 445.795H838.175M779.581 504.294V534M779.581 504.294H838.175M838.175 -19V36.3M838.175 36.3V94.7992M838.175 36.3L896.769 36.3M838.175 94.7992V153.298M838.175 94.7992L896.769 94.7992M838.175 153.298V211.798M838.175 153.298H896.769M838.175 211.798V270.297M838.175 211.798H896.769M838.175 270.297V328.796M838.175 270.297H896.769M838.175 328.796V387.295M838.175 328.796H896.769M838.175 387.295V445.795M838.175 387.295H896.769M838.175 445.795V504.294M838.175 445.795H896.769M838.175 504.294V534M838.175 504.294L896.769 504.294M896.769 -19V36.3M896.769 36.3V94.7992M896.769 36.3L955.364 36.3M896.769 94.7992V153.298M896.769 94.7992L955.364 94.7992M896.769 153.298V211.798M896.769 153.298L955.364 153.298M896.769 211.798V270.297M896.769 211.798L955.364 211.798M896.769 270.297V328.796M896.769 270.297H955.364M896.769 328.796V387.295M896.769 328.796H955.364M896.769 387.295V445.795M896.769 387.295H955.364M896.769 445.795V504.294M896.769 445.795H955.364M896.769 504.294V534M896.769 504.294H955.364M955.364 -19V36.3M955.364 36.3V94.7992M955.364 36.3L1013.96 36.3M955.364 94.7992V153.298M955.364 94.7992H1013.96M955.364 153.298V211.798M955.364 153.298H1013.96M955.364 211.798V270.297M955.364 211.798H1013.96M955.364 270.297V328.796M955.364 270.297L1013.96 270.297M955.364 328.796V387.295M955.364 328.796L1013.96 328.796M955.364 387.295V445.795M955.364 387.295L1013.96 387.295M955.364 445.795V504.294M955.364 445.795L1013.96 445.795M955.364 504.294V534M955.364 504.294H1013.96M1013.96 -19V36.3M1013.96 36.3V94.7992M1013.96 36.3L1072.55 36.3M1013.96 94.7992V153.298M1013.96 94.7992L1072.55 94.7992M1013.96 153.298V211.798M1013.96 153.298L1072.55 153.298M1013.96 211.798V270.297M1013.96 211.798L1072.55 211.798M1013.96 270.297V328.796M1013.96 270.297H1072.55M1013.96 328.796V387.295M1013.96 328.796H1072.55M1013.96 387.295V445.795M1013.96 387.295H1072.55M1013.96 445.795V504.294M1013.96 445.795H1072.55M1013.96 504.294V534M1013.96 504.294H1072.55M1072.55 -19V36.3M1072.55 36.3V94.7992M1072.55 36.3L1131.15 36.2999M1072.55 94.7992V153.298M1072.55 94.7992L1131.15 94.7992M1072.55 153.298V211.798M1072.55 153.298H1131.15M1072.55 211.798V270.297M1072.55 211.798H1131.15M1072.55 270.297V328.796M1072.55 270.297H1131.15M1072.55 328.796V387.295M1072.55 328.796H1131.15M1072.55 387.295V445.795M1072.55 387.295H1131.15M1072.55 445.795V504.294M1072.55 445.795H1131.15M1072.55 504.294V534M1072.55 504.294H1131.15M1131.15 -19V36.2999M1131.15 36.2999V94.7992M1131.15 36.2999H1149M1131.15 94.7992V153.298M1131.15 94.7992H1149M1131.15 153.298V211.798M1131.15 153.298H1149M1131.15 211.798V270.297M1131.15 211.798H1149M1131.15 270.297V328.796M1131.15 270.297H1149M1131.15 328.796V387.295M1131.15 328.796H1149M1131.15 387.295V445.795M1131.15 387.295H1149M1131.15 445.795V504.294M1131.15 445.795H1149M1131.15 504.294V534M1131.15 504.294H1149"
    stroke= "white" stroke-opacity= "0.2" ></path> </svg>;
}
